<%- include('partials/header') %>
<div class="jumbotron centered">
  <div class="container"> <br>
    <h1 class="display-3">Add Book Details</h1>
    <p class="lead"> Can you please enter the book details ?</p>
    <hr>
  </div>
</div>
<div class="container mt-5"> 

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
 
          <form action="/add-book" method="POST">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" required class="form-control" name="title">
            </div>
            <div class="form-group">
              <label for="isbn">ISBN</label>
              <input type="text" required class="form-control" name="isbn">
            </div>
            <div class="form-group">
              <label for="author">Author(s)</label>
              <input type="text" required class="form-control" name="author">
            </div>
            <div class="form-group">
              <label for="isbn">Description</label>
              <input type="text" required class="form-control" name="description">
            </div>
            <button type="submit" class="btn btn-dark">Add Book</button>
          </form>

        </div>
      </div>
    </div>

    
  </div>
</div>

<%- include('partials/header') %>
